<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="9"
    android:versionName="1.5">

    <uses-permission android:name="com.adrop.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GPS_ENABLED_CHANGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.adrop.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.things.permission.SET_TIME" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.taximobility.util.AppController"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Mymaterialact"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,icon,theme,label"
        tools:targetApi="m">

        <uses-library android:name="com.google.android.maps" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.taximobility.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.taximobility.driver.DriverAddFleetAct"
            android:theme="@style/Mymaterialact"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--
                <service android:name=".MyFirebaseInstanceIDService">
                    <intent-filter>
                        <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                    </intent-filter>
                </service>-->
        <service
            android:name="com.taximobility.service.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--        <meta-data-->
        <!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
        <!--            android:resource="@drawable/driver_notification_icon"-->
        <!--            android:value="@color/button_accept"/>-->

        <service android:name="com.taximobility.service.BackgroundCoreConfig" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name"
            tools:ignore="ManifestResource" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebookAppId" />

        <!--        <provider-->
        <!--            android:name="com.facebook.FacebookContentProvider"-->
        <!--            android:authorities="@string/facebookId"-->
        <!--            android:exported="false" />-->

        <receiver
            android:name="com.taximobility.util.NetworkStatus"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.taximobility.util.GpsStatus"
            android:exported="false">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.Taximobility.driver.files_root"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- <service android:name=".service.AuthService" /> -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Mymaterialact" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <!--DRiver-->

        <activity
            android:name="com.taximobility.driver.DummyActivityDriver"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <receiver
            android:name="com.taximobility.driver.DriverCallReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.taximobility.driver.utils.DriverSignUpWebviewAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverSplashAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent">


        </activity>
        <activity
            android:name="com.taximobility.driver.permission.DriverDevicePermissionActivityDriver"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.taximobility.driver.permission.DriverStoreAndSecureActivityDriver"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.taximobility.driver.DriverWebviewAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverStreetPickUpAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.locationSearch.DriverLocationSearchActivityDriver"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <activity
            android:name="com.taximobility.driver.DriverTripHistoryAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverTripDetails"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverUserLoginAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverJobdoneAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverInviteFriendAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverOngoingAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverMeAct"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverSettingsAct"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.taximobility.driver.DriverNotificationAct"
            android:configChanges="locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"

            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverFarecalcAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverPayuncardAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverCanceltripAct"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.taximobility.driver.DriverShowAlertAct"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverMyStatus"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme_home"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverWithdrawHistoryAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverWithDrawMenuAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.taximobility.driver.DriverWithdrawReqAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.taximobility.driver.DriverSelectDropLocationAct"
            android:theme="@style/MyMaterialTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.Taximobility.driver.files_root"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name="com.taximobility.driver.utils.DriverNetworkStatus"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.taximobility.driver.utils.DriverGpsStatus"
            android:exported="false">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="com.taximobility.driver.service.DriverBackgroundCoreConfig" />


        <receiver
            android:name="com.taximobility.driver.utils.DriverBootCompletedIntentReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--  <service
              android:name=".service.WaitingTimerRun"
              android:stopWithTask="false" />-->
        <!--  <service android:name="taximobilitybility.driver.service.LocationUpdate" />-->
        <!-- <service android:name=".service.UpdateLocation" />-->


        <service
            android:name="com.taximobility.driver.service.LocationUpdate"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleID" />

        <activity
            android:name="com.taximobility.driver.earningchart.DriverEarningsAct"
            android:theme="@style/MyMaterialTheme" />

        <service
            android:name="com.taximobility.driver.service.DriverForegroundEnablingService"
            android:enabled="true"
            android:exported="false" />
        <!-- <service android:name=".MyFirebaseInstanceIDService">
             <intent-filter>
                 <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
             </intent-filter>
         </service>-->
        <service
            android:name="com.taximobility.driver.service.DriverFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />


        <activity
            android:name="com.taximobility.driver.DeleteAccountActivityDriver"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.taximobility.driver.DriverTermsAndConditions"
            android:launchMode="singleTask"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.taximobility.driver.DriverSettlementDetail"
            android:theme="@style/MyMaterialTheme" />

        <activity
            android:name="com.taximobility.driver.SettlementHistoryActivityDriver"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />


        <activity
            android:name="com.taximobility.driver.DriverMapZoomAct"
            android:theme="@style/MyMaterialTheme">

        </activity>

        <activity
            android:name="com.taximobility.driver.DriverWalletHistory"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.taximobility.driver.DriverChatWebviewAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.taximobility.driver.DriverMyFleetAct"
            android:theme="@style/MyMaterialTheme" />

        <activity
            android:name="com.taximobility.ChatWebviewAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <!--        <meta-data-->
        <!--            android:name="com.razorpay.ApiKey"-->
        <!--            android:value="rzp_live_w5qhHavFaedhdm" />-->

        <!--// test key - rzp_test_v67rWleYcdwBqU-->

        <!--// test key - rzp_live_w5qhHavFaedhdm-->
    </application>

</manifest>