<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="3"
    android:versionName="1.2">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.adrop.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GPS_ENABLED_CHANGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.adrop.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.things.permission.SET_TIME" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".util.AppController"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Mymaterialact"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,icon,theme,label"
        tools:targetApi="m">
        <activity
            android:name=".driver.DriverlanguageAct"
            android:exported="false" />

        <uses-library android:name="com.google.android.maps" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".driver.DriverAddFleetAct"
            android:theme="@style/Mymaterialact"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".SignatureAct"
            android:theme="@style/Mymaterialact"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--
                <service android:name=".MyFirebaseInstanceIDService">
                    <intent-filter>
                        <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                    </intent-filter>
                </service>
        -->
        <service
            android:name=".service.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@drawable/driver_notification_icon" -->
        <!-- android:value="@color/button_accept"/> -->
        <service android:name=".service.BackgroundCoreConfig" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name"
            tools:ignore="ManifestResource" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebookAppId" /> <!-- <provider -->
        <!-- android:name="com.facebook.FacebookContentProvider" -->
        <!-- android:authorities="@string/facebookId" -->
        <!-- android:exported="false" /> -->
        <receiver
            android:name=".util.NetworkStatus"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.GpsStatus"
            android:exported="false">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.movedriverdriver.files_root"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- <service android:name=".service.AuthService" /> -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Mymaterialact" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" /> <!-- DRiver -->
        <activity
            android:name=".driver.DummyActivityDriver"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <receiver
            android:name=".driver.DriverCallReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".driver.utils.DriverSignUpWebviewAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverSplashAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"></activity>
        <activity
            android:name=".driver.permission.DriverDevicePermissionActivityDriver"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".driver.permission.DriverStoreAndSecureActivityDriver"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".driver.DriverWebviewAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".driver.DriverStreetPickUpAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.locationSearch.DriverLocationSearchActivityDriver"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".driver.DriverTripHistoryAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverTripDetails"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverUserLoginAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverJobdoneAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverInviteFriendAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverOngoingAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverMeAct"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverSettingsAct"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverNotificationAct"
            android:configChanges="locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverFarecalcAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverPayuncardAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverCanceltripAct"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverShowAlertAct"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverMyStatus"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme_home"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverWithdrawHistoryAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverWithDrawMenuAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverWithdrawReqAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverSelectDropLocationAct"
            android:theme="@style/MyMaterialTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.movedriverdriver.files_root"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".driver.utils.DriverNetworkStatus"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".driver.utils.DriverGpsStatus"
            android:exported="false">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".driver.service.DriverBackgroundCoreConfig" />

        <receiver
            android:name=".driver.utils.DriverBootCompletedIntentReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--
  <service
              android:name=".service.WaitingTimerRun"
              android:stopWithTask="false" />
        -->
        <!-- <service android:name="taximobilitybility.driver.service.LocationUpdate" /> -->
        <!-- <service android:name=".service.UpdateLocation" /> -->
        <service
            android:name=".driver.service.LocationUpdate"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleID" />

        <activity
            android:name=".driver.earningchart.DriverEarningsAct"
            android:theme="@style/MyMaterialTheme" />

        <service
            android:name=".driver.service.DriverForegroundEnablingService"
            android:enabled="true"
            android:exported="false" />
        <!--
 <service android:name=".MyFirebaseInstanceIDService">
             <intent-filter>
                 <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
             </intent-filter>
         </service>
        -->
        <service
            android:name=".driver.service.DriverFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".driver.DeleteAccountActivityDriver"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".driver.DriverTermsAndConditions"
            android:launchMode="singleTask"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".driver.DriverSettlementDetail"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".driver.SettlementHistoryActivityDriver"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".driver.DriverMapZoomAct"
            android:theme="@style/MyMaterialTheme"></activity>
        <activity
            android:name=".driver.DriverWalletHistory"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".DriverFirebaseChatWebviewNew"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".driver.DriverChatWebviewAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".driver.DriverMyFleetAct"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".ChatWebviewAct"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>
    </application>

</manifest>